fastapi==0.111.0
uvicorn==0.29.0
sqlalchemy==2.0.30
pymysql==1.1.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
requests==2.31.0
redis==5.0.4
python-dotenv==1.0.1
Pillow==10.3.0
transformers==4.40.0
torch==2.3.0
pyspellchecker>=0.7.0
celery==5.3.6
fastapi-mail==1.4.1
groq==0.5.0


#pip install fastapi==0.111.0
#pip install uvicorn==0.29.0
pip install sqlalchemy==2.0.30
pip install pymysql==1.1.0
pip install python-jose[cryptography]==3.3.0
pip install passlib[bcrypt]==1.7.4
pip install python-multipart==0.0.9
pip install requests==2.31.0
pip install redis==5.0.4
pip install python-dotenv==1.0.1
pip install Pillow==10.3.0
pip install transformers==4.40.0
pip install torch==2.3.0
pip install pyspellchecker>=0.7.0
pip install celery==5.3.6
pip install fastapi-mail==1.4.1
pip install groq==0.5.0
pip install bcrypt==4.0.1
